@import url('https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet');

html *{
    box-sizing: border-box;  
}

body{
    width: 100%; 
    padding: 10%;
    background-color: rgb(199, 164, 174);
    font-family: 'Pacifico', cursive;
}
section{
    width: 100%;


}
.box-1{
    width: 40%;
    height: 700px;
    padding: 20px;
    border: 1px solid #000;
    float: left;
    background-color: rgb(255, 255, 255);
}
nav{
    text-transform: uppercase;
    
}
nav img{
    width: 50px;
    height: 30px;
}
nav ul{
    float: right;
    font-size: 10px;
}
nav ul li{
    display: inline;
    margin: 5px;
    float: right;
}
a {
    text-decoration: none;
    color: black;
    
}
h1{
    /*margin-top: 202px; or padding: 32px 0 0 -15px; */
    padding: 431px 0 0 0;
    line-height: 27px;
    
}
.box-2{
    width: 40%;
    height: 700px;
    border: 1px solid #000;
    float: left;
    
}

.box-2 img {
    width: 100%;
    height: 100%;
}



