@import url('https://fonts.googleapis.com/css?family=Work+Sans');

html *{
    box-sizing: border-box;  
}
body{
    padding: 30px;
    background-color: #dddddd;
    font-family: 'Work Sans', sans-serif;
    

}
.clearfix::after{
    content: "";
    display: table;
    clear: both;

}
/*Typography*/
h1{
    font-weight: 400;
    margin-top: 0;
}

h2{
    font-weight: 400;
    margin-top: 0;
}
/* link styling */
a {
    text-decoration: none;
}

/* .button styling */
a.button {
    background: #000;
    color: #fff;
    font-size: 8px;
    padding: 5px;
}

a.button img {
    height: 10px;
    position: relative;
    top: 2px;   
}
/* header */
header{
    width: 600px;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: #ffffff;
    

}
header img{
    position: relative;
    float: left;
    height: 10px;
    margin-top: 8px;
}
/* navigation */
nav{
    position: relative;
    float: right;
    font-size: 8px;
}
nav li{
    display: inline-block;
    padding: 0 10px;
}
nav a{
    color: black;    
 }
/* main content */
main{
    width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    
}
/* The first section */
.intro-text {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}

.intro-text p {
    font-size: 8px;
    text-transform: uppercase;
}

/* article link */
article{
    position: relative;
    float: left;
    width: 32%;
    height: 300px;
    margin-right: 2%;
    padding: 30px;
    font-size: 12px;
    color: #fff;
    background-image: url("frank-mckenna-282509.jpg");
    /* resize the image to always cover the element */
    background-size: cover;
    
        /* reposition the image inside the element */
        background-position: 
        center;
}
.article-section{
    padding-bottom: 10px;
}
/* selecting the last <a> inside the .article-section to remove the margin on the right side */
.article-section a:last-child article{
    margin-right: 0;
}
.article-2{
    background-image: url("amanda-sandlin-10508.jpg");
    

}
.article-3{
    background-image: url("ray-hennessy-229596.jpg");
}
.article-section img{
    background: #ffffff;
    border-radius: 50%;
    height: 20px;
    padding: 5px;
    box-shadow: 0 0 0px 5px rgba(255, 255, 255, .25);

    /* reposition the arrow in the article */
    position: absolute;
    bottom: 30px;
    

}
article h2{
    text-shadow: 0 0 10px #000;
    line-height: 1.6;
}
