.box-left {
    width: 30%;
    background-image: url("../img/design11.jpg");
    background-size: cover;
    background-position: center;
    margin: 10px; 
}
.box-right{
    background-image: url("../img/design12.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px;
}